.section_header
  background: rgba(#000, .75)
  vertical-align: middle
  line-height: 80px

.container--header
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between

.section_header__logo_box
  width: 247px
  height: 54px
  vertical-align: middle

.section_header__menu
  padding-right: 210px


.section_header__menu__link
  @include font-sans(16px,400)
  padding-left: 33px
  letter-spacing: 0.4px
  &:hover
    color: #ffc411

.direction_table__tr
  background: rgba(#000,.65)

.direction_table
  text-align: center
  width: 503px
  height: 180px
  position: absolute
  top: -1000px
  transition: all 1.5s ease
  right: 0
  z-index: 2

.direction_table__tr__td
  padding: 6px 0

.is-hidden
  top: 0
.direction_table__tr__td__link
  @include font-sans(14px,400)
  letter-spacing: 0.35px
  &:hover
    text-decoration: underline
    color: #f9c423

.direction_table__tr--heat
  background: rgba(#ffc411, .85)
  height: 40px

.direction_table__tr__td__link--heat
  @include font-sans(16px,400)
  letter-spacing: 0.4px
  color: #000
  &:hover
    text-decoration: none
    color: #000

.section_header__burger
  display: none
  position: absolute
  right: 30px
  top: -35px


.section_header__burger__item
  content: ''
  height: 2px
  width: 20px
  background: #fff
  margin: 2px 0
  transition:  all .5s ease

.activeBurger> .section_header__burger__item--top
  transform: rotate(-45deg)

.activeBurger>.section_header__burger__item--bottom
  transform: rotate(45deg)
  margin-top: -8px

.activeBurger> .section_header__burger__item--midle
  transform: translateX(1000px)