<section class="section_header">
    <div class="container container--header">
        <figure class="section_header__logo_box">
            <img src="images/logo/logo.png" alt="" class="section_header__logo_box__img">
        </figure>
        <menu class="section_header__menu">
            <button href="" class="section_header__menu__link">
                Главная
            </button>
            <button href="" class="section_header__menu__link" id="direction">
                Направления
            </button>
            <button href="" class="section_header__menu__link">
                Страховка
            </button>
            <button href="" class="section_header__menu__link">
                Авиа
            </button>
        </menu>
    </div>
</section>
<div class="container">
    <table class="direction_table">
        <thead>
            <tr class="direction_table__tr direction_table__tr--heat">
                <th class="direction_table__tr__td border_top_left">
                    <a href="#" class="direction_table__tr__td__link direction_table__tr__td__link--heat">
                        Море
                    </a>
                </th>
                <th class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link direction_table__tr__td__link--heat">
                        Горы
                    </a>
                </th>
                <th class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link direction_table__tr__td__link--heat">
                        Города
                    </a>
                </th>
                <th class="direction_table__tr__td border_top_right">
                    <a href="#" class="direction_table__tr__td__link direction_table__tr__td__link--heat ">
                        Места
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="direction_table__tr">
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        Анаклия
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        Бакуриани
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        Ахалцихе
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        Мартвили
                    </a>
                </td>
            </tr>
            <tr class="direction_table__tr">
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                      lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                       lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                      lorem
                    </a>
                </td>
            </tr>
            <tr class="direction_table__tr">
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                       lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                      lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                      lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                     lorem
                    </a>
                </td>
            </tr>
            <tr class="direction_table__tr">
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
            </tr>
            <tr class="direction_table__tr">
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem

                    </a>
                </td>
            </tr>
            <tr class="direction_table__tr">
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">

                    </a>
                </td>
            </tr>
            <tr class="direction_table__tr">
                <td class="direction_table__tr__td border__butn__right">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td">
                    <a href="#" class="direction_table__tr__td__link">
                        lorem
                    </a>
                </td>
                <td class="direction_table__tr__td border__butn__left">
                    <a href="#" class="direction_table__tr__td__link">

                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="section_header__burger">
        <div class="section_header__burger__item section_header__burger__item--top "></div>
        <div class="section_header__burger__item section_header__burger__item--midle"></div>
        <div class="section_header__burger__item section_header__burger__item--bottom"></div>
    </div>


</div>
