<section class="section_offer">
    <div class="container">
        <button class="section_offer__btn " id="living">
            <img src="images/pic/icon/living-icon.png" alt="" class="section_offer__btn__img">
            <span  class="section_offer__btn__content">
                    Жилье
                </span>
        </button>
        <button class="section_offer__btn activeBtnOffer" id="tours">
            <img src="images/pic/icon/tours-icon.png" alt="" class="section_offer__btn__img">
            <span  class="section_offer__btn__content">
                    Туры
                </span>
        </button>
        <button class="section_offer__btn" id="excursion">
            <img src="images/pic/icon/excursion-icon.png" alt="" class="section_offer__btn__img">
            <span  class="section_offer__btn__content">
                    Экскурсии
                </span>
        </button>
        <button class="section_offer__btn" id="car">
            <img src="images/pic/icon/car-icon.png" alt="" class="section_offer__btn__img">
            <span class="section_offer__btn__content">
                    Aвто
                </span>
        </button>
    </div>
</section>
<div id="container">
    @@include('form_tours.html')